<a href="https://colab.research.google.com/github/escorpioh/hacking-civico/blob/master/tareas/03-exploracion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Para descargar el conjunto de datos
!wget http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip

# Para descargar el diccionario de los datos
!wget http://epidemiologia.salud.gob.mx/gobmx/salud/datos_abiertos/diccionario_datos_covid19.zip

# Descomprimimos ambas carpetas y movemos archivos
!unzip datos_abiertos_covid19.zip
!unzip diccionario_datos_covid19.zip
!mv ./diccionario_datos_covid19/*.xlsx .
!mv *COVID19MEXICO.csv COVID19MEXICO.csv

# Eliminamos las carpetas comprimidas
!rm -rf diccionario_datos_covid19
!rm datos_abiertos_covid19.zip
!rm diccionario_datos_covid19.zip

--2020-09-20 23:28:50--  http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip
Resolving datosabiertos.salud.gob.mx (datosabiertos.salud.gob.mx)... 187.210.186.146
Connecting to datosabiertos.salud.gob.mx (datosabiertos.salud.gob.mx)|187.210.186.146|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33390212 (32M) [application/x-zip-compressed]
Saving to: ‘datos_abiertos_covid19.zip’

datos_abiertos_covi 100%[===================>]  31.84M  20.8MB/s    in 1.5s

2020-09-20 23:28:52 (20.8 MB/s) - ‘datos_abiertos_covid19.zip’ saved [33390212/33390212]

--2020-09-20 23:28:52--  http://epidemiologia.salud.gob.mx/gobmx/salud/datos_abiertos/diccionario_datos_covid19.zip
Resolving epidemiologia.salud.gob.mx (epidemiologia.salud.gob.mx)... 187.191.75.207
Connecting to epidemiologia.salud.gob.mx (epidemiologia.salud.gob.mx)|187.191.75.207|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://epidemiologia.salud.gob.mx/gobmx/salud/datos_abiertos/diccionario_datos_covid19.zip [following]
--2020-09-20 23:28:52--  https://epidemiologia.salud.gob.mx/gobmx/salud/datos_abiertos/diccionario_datos_covid19.zip
Connecting to epidemiologia.salud.gob.mx (epidemiologia.salud.gob.mx)|187.191.75.207|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 81416 (80K) [application/x-zip-compressed]
Saving to: ‘diccionario_datos_covid19.zip’

diccionario_datos_c 100%[===================>]  79.51K  --.-KB/s    in 0.06s

2020-09-20 23:28:52 (1.25 MB/s) - ‘diccionario_datos_covid19.zip’ saved [81416/81416]

Archive:  datos_abiertos_covid19.zip
  inflating: 200919COVID19MEXICO.csv
Archive:  diccionario_datos_covid19.zip
  inflating: diccionario_datos_covid19/Catalogos_0412.xlsx
  inflating: diccionario_datos_covid19/Descriptores_0419.xlsx

In [45]:
import statistics

import pandas as pd
import numpy as np

In [72]:
# Especificamos el nombre del archivo por abrir
nombre_archivo = 'COVID19MEXICO.csv'

# Utilizamos la función de Pandas para cargar un archivo CSV
data = pd.read_csv(nombre_archivo, encoding='latin-1')

In [73]:
data.head()

  FECHA_ACTUALIZACION ID_REGISTRO  ORIGEN  ...  PAIS_NACIONALIDAD  PAIS_ORIGEN  UCI
0          2020-09-19      13f301       2  ...            MÃ©xico           99    2
1          2020-09-19      0e7edf       2  ...            MÃ©xico           99   97
2          2020-09-19      10d9be       2  ...            MÃ©xico           99    2
3          2020-09-19      11a9b3       2  ...            MÃ©xico           99   97
4          2020-09-19      077c96       2  ...            MÃ©xico           99    1

[5 rows x 35 columns]

In [74]:
import altair as alt
import seaborn as sns

In [75]:
nombre_diccionario = 'Descriptores_0419.xlsx'
diccionario = pd.read_excel(nombre_diccionario)

In [76]:
diccionario

    Nº  ...                                   FORMATO O FUENTE
0    1  ...                                         AAAA-MM-DD
1    2  ...                                             TEXTO
2    3  ...  CATÁLOGO: ORIGEN                              ...
3    4  ...  CATÁLOGO: SECTOR                              ...
4    5  ...                                CATALÓGO: ENTIDADES
5    6  ...       CATÁLOGO: SEXO
6    7  ...                                CATALÓGO: ENTIDADES
7    8  ...                                CATALÓGO: ENTIDADES
8    9  ...                               CATALÓGO: MUNICIPIOS
9   10  ...                           CATÁLOGO: TIPO_PACIENTE
10  11  ...                                         AAAA-MM-DD
11  12  ...                                         AAAA-MM-DD
12  13  ...                                         AAAA-MM-DD
13  14  ...  CATÁLOGO: SI_ NO                              ...
14  15  ...  CATÁLOGO: SI_ NO                              ...
15  16  ...                                   NÚMERICA EN AÑOS
16  17  ...                            CATÁLOGO: NACIONALIDAD
17  18  ...  CATÁLOGO: SI_ NO                              ...
18  19  ...  CATÁLOGO: SI_ NO                              ...
19  20  ...  CATÁLOGO: SI_ NO                              ...
20  21  ...  CATÁLOGO: SI_ NO                              ...
21  22  ...  CATÁLOGO: SI_ NO                              ...
22  23  ...  CATÁLOGO: SI_ NO                              ...
23  24  ...  CATÁLOGO: SI_ NO                              ...
24  25  ...  CATÁLOGO: SI_ NO                              ...
25  26  ...  CATÁLOGO: SI_ NO                              ...
26  27  ...  CATÁLOGO: SI_ NO                              ...
27  28  ...  CATÁLOGO: SI_ NO                              ...
28  29  ...  CATÁLOGO: SI_ NO                              ...
29  30  ...  CATÁLOGO: SI_ NO                              ...
30  31  ...                                CATÁLOGO: RESULTADO
31  32  ...  CATÁLOGO: SI_ NO                              ...
32  33  ...                               TEXTO, 99= SE IGNORA
33  34  ...                               TEXTO, 97= NO APLICA
34  35  ...  CATÁLOGO: SI_ NO                              ...

[35 rows x 4 columns]

In [77]:
nombre_cat = 'Catalogos_0412.xlsx'
sheets = ['ORIGEN', 'SECTOR', 'SEXO', 'TIPO_PACIENTE', 'SI_NO', 'NACIONALIDAD', 'RESULTADO', 'de ENTIDADES', 'MUNICIPIOS']
catalogues = {}
for sheet in sheets:
  catalogue = pd.read_excel(nombre_cat, sheet_name='Catálogo ' + sheet)
  catalogue.columns = catalogue.columns.str.replace(' ', '_')
  catalogue.columns = catalogue.columns.str.replace('.', '')
  catalogue.columns = catalogue.columns.str.lower()
  new_catalogue = {sheet: catalogue}
  catalogues.update(new_catalogue)

In [78]:
catalogues

{'MUNICIPIOS':       clave_municipio        municipio  clave_entidad
 0                   1   AGUASCALIENTES              1
 1                   2         ASIENTOS              1
 2                   3         CALVILLO              1
 3                   4            COSÍO              1
 4                   5      JESÚS MARÍA              1
 ...               ...              ...            ...
 2496              999  NO ESPECIFICADO             32
 2497              999  NO ESPECIFICADO             36
 2498              997        NO APLICA             97
 2499              998        SE IGNORA             98
 2500              999  NO ESPECIFICADO             99

 [2501 rows x 3 columns], 'NACIONALIDAD':    clave      descripción
 0      1         MEXICANA
 1      2       EXTRANJERA
 2     99  NO ESPECIFICADO, 'ORIGEN':    clave      descripción
 0      1            USMER
 1      2   FUERA DE USMER
 2     99  NO ESPECIFICADO, 'RESULTADO':   unnamed:_0              unnamed:_1
 0      CLAVE             DESCRIPCIÓN
 1          1     Positivo SARS-CoV-2
 2          2  No positivo SARS-CoV-2
 3          3     Resultado pendiente, 'SECTOR':     clave      descripción
 0       1        CRUZ ROJA
 1       2              DIF
 2       3          ESTATAL
 3       4             IMSS
 4       5   IMSS-BIENESTAR
 5       6           ISSSTE
 6       7        MUNICIPAL
 7       8            PEMEX
 8       9          PRIVADA
 9      10           SEDENA
 10     11            SEMAR
 11     12              SSA
 12     13    UNIVERSITARIO
 13     99  NO ESPECIFICADO, 'SEXO':    clave      descripción
 0      1            MUJER
 1      2           HOMBRE
 2     99  NO ESPECIFICADO, 'SI_NO':    clave      descripción
 0      1              SI
 1      2              NO
 2     97        NO APLICA
 3     98        SE IGNORA
 4     99  NO ESPECIFICADO, 'TIPO_PACIENTE':    clave      descripción
 0      1      AMBULATORIO
 1      2    HOSPITALIZADO
 2     99  NO ESPECIFICADO, 'de ENTIDADES':     clave_entidad               entidad_federativa abreviatura
 0               1                   AGUASCALIENTES          AS
 1               2                  BAJA CALIFORNIA          BC
 2               3              BAJA CALIFORNIA SUR          BS
 3               4                         CAMPECHE          CC
 4               5             COAHUILA DE ZARAGOZA          CL
 5               6                           COLIMA          CM
 6               7                          CHIAPAS          CS
 7               8                        CHIHUAHUA          CH
 8               9                 CIUDAD DE MÉXICO          DF
 9              10                          DURANGO          DG
 10             11                       GUANAJUATO          GT
 11             12                         GUERRERO          GR
 12             13                          HIDALGO          HG
 13             14                          JALISCO          JC
 14             15                           MÉXICO          MC
 15             16              MICHOACÁN DE OCAMPO          MN
 16             17                          MORELOS          MS
 17             18                          NAYARIT          NT
 18             19                       NUEVO LEÓN          NL
 19             20                           OAXACA          OC
 20             21                           PUEBLA          PL
 21             22                        QUERÉTARO          QT
 22             23                     QUINTANA ROO          QR
 23             24                  SAN LUIS POTOSÍ          SP
 24             25                          SINALOA          SL
 25             26                           SONORA          SR
 26             27                          TABASCO          TC
 27             28                       TAMAULIPAS          TS
 28             29                         TLAXCALA          TL
 29             30  VERACRUZ DE IGNACIO DE LA LLAVE          VZ
 30             31                          YUCATÁN          YN
 31             32                        ZACATECAS          ZS
 32             36         ESTADOS UNIDOS MEXICANOS         EUM
 33             97                        NO APLICA         NaN
 34             98                        SE IGNORA          SI
 35             99                  NO ESPECIFICADO          NE}

In [79]:
catalogues['SEXO']

   clave      descripción
0      1            MUJER
1      2           HOMBRE
2     99  NO ESPECIFICADO

In [80]:
# limpieza del nombre de las columnas, remover espacios, carácteres especiales y pasar a minúsculas
data.columns = data.columns.str.replace(' ', '_')
data.columns = data.columns.str.replace('.', '')
data.columns = data.columns.str.lower()

In [81]:
# convertimos a fecha algunas columnas
def cast_datetime_cols(df):
    timestamp_cols = [col for col in df.columns if "fecha" in col]
    df[timestamp_cols] = df[timestamp_cols].apply(lambda date_col: pd.to_datetime(date_col, errors="coerce"), axis=0)
    return df

data = cast_datetime_cols(data)

In [82]:
data.head()

  fecha_actualizacion id_registro  origen  ...  pais_nacionalidad  pais_origen  uci
0          2020-09-19      13f301       2  ...            MÃ©xico           99    2
1          2020-09-19      0e7edf       2  ...            MÃ©xico           99   97
2          2020-09-19      10d9be       2  ...            MÃ©xico           99    2
3          2020-09-19      11a9b3       2  ...            MÃ©xico           99   97
4          2020-09-19      077c96       2  ...            MÃ©xico           99    1

[5 rows x 35 columns]

In [88]:
# unimos con el catálogo de ENTIDADES
entidades_cols = [col for col in data.columns if "entidad" in col and col != 'entidad_res']
for col in entidades_cols:
    data = (
        data.merge(catalogues['de ENTIDADES'], how='left', left_on=col, right_on='clave_entidad').
        drop(columns=[col, 'abreviatura', 'clave_entidad']).
        rename(columns={'entidad_federativa':col})
    )

In [89]:
# unimos con el catálogo SI_NO
sino_cols = ['intubado', 'neumonia', 'embarazo', 'habla_lengua_indig', 'diabetes', 'epoc', 'asma', 'inmusupr',
             'hipertension', 'otra_com', 'cardiovascular', 'obesidad', 'renal_cronica', 'tabaquismo', 
             'otro_caso', 'migrante', 'uci']
for col in sino_cols:
    data = (
        data.merge(catalogues['SI_NO'], how='left', left_on=col, right_on='clave').
        drop(columns=[col, 'clave']).
        rename(columns={'descripción':col})
    )

In [91]:
catalogues['RESULTADO'].columns

catalogues['RESULTADO'].columns = ['clave', 'descripción']
catalogues['RESULTADO'].columns

catalogues['RESULTADO'] = catalogues['RESULTADO'].drop(index=0)

catalogues['RESULTADO']['clave'] = catalogues['RESULTADO']['clave'].astype(int)

In [94]:
# unimos otras columnnas que comparten lógica
other_cols = ['origen', 'sector', 'sexo', 'tipo_paciente', 'nacionalidad', 'resultado']
for col, cat in zip(other_cols, [x.upper() for x in other_cols]):
    data = (
        data.merge(catalogues[cat], how='left', left_on=col, right_on='clave').
        drop(columns=[col, 'clave']).
        rename(columns={'descripción':col})
    )

In [108]:
# creamos algunas variables que podrían ser útiles después
data['defuncion'] = ~data.fecha_def.isna()
data['mes_def'] = data.fecha_def.dt.month
data['año_def'] = data.fecha_def.dt.year
data['mes_ingreso'] = data.fecha_ingreso.dt.month
data['año_ingreso'] = data.fecha_ingreso.dt.year

In [115]:
data.head(3)

  fecha_actualizacion id_registro  ... mes_ingreso año_ingreso
0          2020-09-19      13f301  ...           5        2020
1          2020-09-19      0e7edf  ...           6        2020
2          2020-09-19      10d9be  ...           4        2020

[3 rows x 40 columns]

In [118]:

#Genera error. Solo muestra los encabezados sin datos.
data.query('hipertension == "SI" & defuncion == "True"').head()

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Empty DataFrame
Columns: [fecha_actualizacion, id_registro, fecha_ingreso, fecha_sintomas, fecha_def, edad, pais_nacionalidad, pais_origen, entidad_res, municipio_res, entidad_um, entidad_nac, intubado, neumonia, embarazo, habla_lengua_indig, diabetes, epoc, asma, inmusupr, hipertension, otra_com, cardiovascular, obesidad, renal_cronica, tabaquismo, otro_caso, migrante, uci, origen, sector, sexo, tipo_paciente, nacionalidad, resultado, defuncion, mes_def, año_def, mes_ingreso, año_ingreso]
Index: []

In [136]:

#Genera error. Solo muestra los encabezados sin datos. Hay un error en el registro de hipertension en mi tabla y data set.
data[data.hipertension == 'SI'].head(2)

Empty DataFrame
Columns: [fecha_actualizacion, id_registro, fecha_ingreso, fecha_sintomas, fecha_def, edad, pais_nacionalidad, pais_origen, entidad_res, municipio_res, entidad_um, entidad_nac, intubado, neumonia, embarazo, habla_lengua_indig, diabetes, epoc, asma, inmusupr, hipertension, otra_com, cardiovascular, obesidad, renal_cronica, tabaquismo, otro_caso, migrante, uci, origen, sector, sexo, tipo_paciente, nacionalidad, resultado, defuncion, mes_def, año_def, mes_ingreso, año_ingreso]
Index: []

In [137]:
data[data.defuncion].mes_def.value_counts().sort_index()

1.0        6
2.0       12
3.0      232
4.0     5300
5.0    16113
6.0    21546
7.0    24055
8.0    19058
9.0     7298
Name: mes_def, dtype: int64

In [145]:
data[data.tipo_paciente == "HOSPITALIZADO"].mes_def.value_counts().sort_index()

1.0        6
2.0       12
3.0      218
4.0     4872
5.0    14513
6.0    19136
7.0    21270
8.0    17023
9.0     6620
Name: mes_def, dtype: int64

In [151]:
#Respuesta a la pregunta 1.- ¿Tienen los pacientes con hipertensión un riesgo más alto de defunción? 
data.groupby('hipertension').defuncion.value_counts(normalize=True)

hipertension  defuncion
NO            False        0.961119
              True         0.038881
SE IGNORA     False        0.876326
              True         0.123674
SI            False        0.835204
              True         0.164796
Name: defuncion, dtype: float64

In [152]:
data.groupby('diabetes').defuncion.value_counts(normalize=True)

diabetes   defuncion
NO         False        0.958535
           True         0.041465
SE IGNORA  False        0.877358
           True         0.122642
SI         False        0.813853
           True         0.186147
Name: defuncion, dtype: float64

In [153]:
data.groupby('epoc').defuncion.value_counts(normalize=True)

epoc       defuncion
NO         False        0.943377
           True         0.056623
SE IGNORA  False        0.869135
           True         0.130865
SI         False        0.758276
           True         0.241724
Name: defuncion, dtype: float64

In [154]:
data.groupby('asma').defuncion.value_counts(normalize=True)

asma       defuncion
NO         False        0.940440
           True         0.059560
SE IGNORA  False        0.871341
           True         0.128659
SI         False        0.958195
           True         0.041805
Name: defuncion, dtype: float64

In [155]:
data.groupby('inmusupr').defuncion.value_counts(normalize=True)

inmusupr   defuncion
NO         False        0.942115
           True         0.057885
SE IGNORA  False        0.869978
           True         0.130022
SI         False        0.849185
           True         0.150815
Name: defuncion, dtype: float64

In [156]:
data.groupby('otra_com').defuncion.value_counts(normalize=True)

otra_com   defuncion
NO         False        0.943440
           True         0.056560
SE IGNORA  False        0.857312
           True         0.142688
SI         False        0.847849
           True         0.152151
Name: defuncion, dtype: float64

In [157]:
data.groupby('cardiovascular').defuncion.value_counts(normalize=True)

cardiovascular  defuncion
NO              False        0.943408
                True         0.056592
SE IGNORA       False        0.865398
                True         0.134602
SI              False        0.816374
                True         0.183626
Name: defuncion, dtype: float64

In [158]:
data.groupby('obesidad').defuncion.value_counts(normalize=True)

obesidad   defuncion
NO         False        0.946390
           True         0.053610
SE IGNORA  False        0.875089
           True         0.124911
SI         False        0.911034
           True         0.088966
Name: defuncion, dtype: float64

In [159]:
data.groupby('tabaquismo').defuncion.value_counts(normalize=True)

tabaquismo  defuncion
NO          False        0.941129
            True         0.058871
SE IGNORA   False        0.872614
            True         0.127386
SI          False        0.939020
            True         0.060980
Name: defuncion, dtype: float64

In [160]:
data.groupby('otro_caso').defuncion.value_counts(normalize=True)

otro_caso        defuncion
NO               False        0.933622
                 True         0.066378
NO ESPECIFICADO  False        0.807801
                 True         0.192199
SI               False        0.983464
                 True         0.016536
Name: defuncion, dtype: float64

In [162]:
#Respuesta a la pregunta 2.- ¿Cuántos casos confirmados se tienen por Estado?

data[data.resultado == "Positivo SARS-CoV-2"].entidad_res.value_counts().sort_index()

AGUASCALIENTES                       6581
BAJA CALIFORNIA                     18501
BAJA CALIFORNIA SUR                  9374
CAMPECHE                             5851
CHIAPAS                              6427
CHIHUAHUA                            9464
CIUDAD DE MÉXICO                   116943
COAHUILA DE ZARAGOZA                24766
COLIMA                               4380
DURANGO                              8098
GUANAJUATO                          38340
GUERRERO                            17335
HIDALGO                             11930
JALISCO                             24400
MICHOACÁN DE OCAMPO                 18684
MORELOS                              5699
MÉXICO                              76784
NAYARIT                              5642
NUEVO LEÓN                          35910
OAXACA                              15374
PUEBLA                              29938
QUERÉTARO                            8152
QUINTANA ROO                        11290
SAN LUIS POTOSÍ                     21524
SINALOA                             17772
SONORA                              23749
TABASCO                             30753
TAMAULIPAS                          27645
TLAXCALA                             7165
VERACRUZ DE IGNACIO DE LA LLAVE     31680
YUCATÁN                             17222
ZACATECAS                            6748
Name: entidad_res, dtype: int64

In [146]:
#Respuesta a la pregunta 3 ¿Cuántas defunciones se tienen por estado?

data[data.defuncion].entidad_res.value_counts().sort_index()

AGUASCALIENTES                       662
BAJA CALIFORNIA                     4167
BAJA CALIFORNIA SUR                  559
CAMPECHE                             982
CHIAPAS                             1233
CHIHUAHUA                           2116
CIUDAD DE MÉXICO                   12397
COAHUILA DE ZARAGOZA                2338
COLIMA                               637
DURANGO                              759
GUANAJUATO                          3349
GUERRERO                            2374
HIDALGO                             2180
JALISCO                             4120
MICHOACÁN DE OCAMPO                 2040
MORELOS                             1282
MÉXICO                             14128
NAYARIT                              867
NUEVO LEÓN                          3792
OAXACA                              1666
PUEBLA                              4765
QUERÉTARO                           1056
QUINTANA ROO                        2002
SAN LUIS POTOSÍ                     1924
SINALOA                             3840
SONORA                              3323
TABASCO                             2989
TAMAULIPAS                          2992
TLAXCALA                            1362
VERACRUZ DE IGNACIO DE LA LLAVE     5002
YUCATÁN                             1900
ZACATECAS                            817
Name: entidad_res, dtype: int64

In [150]:
#Respuesta a la pregunta 4.- ¿Cuántos fallecimientos han ocurrido en el Estado con mayor número de casos confirmados?

data[data.defuncion].entidad_res.value_counts().sort_index()

estado_mas_defunciones = data[data.entidad].entidad_res.max()  

data[data.entidad_res & (data.defuncion == estado_mas_defunciones)]

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

TypeError: ignored

In [165]:
#Respuesta a la pregunta 4.- ¿Cuántos fallecimientos han ocurrido en el Estado con mayor número de casos confirmados?

# Entiendo el por que sale el resultado. Estamos utilizando como base los registros de datos en la variable (columna) defunción.
# A esta base, la comparamos contra la variable (columna) entidad_res y ejecutamos la función .describe.
# Lo que no entiendo es por que no sale el registro más alto y los otros registros no. 
# ¿Será una cuestión inherente a la forma que está configurada la función?
# Todavía no encuentro una función inversa a .describe ó como invertirla.

data.groupby('defuncion').entidad_res.describe()

             count unique               top    freq
defuncion
False      1486757     32  CIUDAD DE MÉXICO  317450
True         93620     32            MÉXICO   14128

In [147]:
#Respuesta a la pregunta 5.- ¿Cuántos fallecimientos han ocurrido en los pacientes Ambulatorios?
data[data.defuncion].tipo_paciente.value_counts().sort_index()

AMBULATORIO       9950
HOSPITALIZADO    83670
Name: tipo_paciente, dtype: int64

In [140]:
#Prueba para validar si la data de hipertensión está correcta y si los errores previos son cuestión de: Syntaxis, data ó la elección de funciones.

data.hipertension.value_counts()

NO           1323409
SI            252537
SE IGNORA       4431
Name: hipertension, dtype: int64

In [141]:
#Prueba para validar si la data de defunciones está correcta y si los errores previos son cuestión de: Syntaxis, data ó la elección de funciones.
data.defuncion.value_counts()

False    1486757
True       93620
Name: defuncion, dtype: int64